[user]
	name = Cam Cope
	email = github@camcope.me
[color]
  ui = true
[format]
	pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[alias]
	co = checkout
	ci = commit
	cia = commit --amend --no-edit
	dt = difftool
	st = status
	br = branch
	type = cat-file -t
	dump = cat-file -p
	change = !sh -c 'git difftool ${1-HEAD}^ ${1-HEAD}' -
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	stashpeek = show stash@{0}
	stashshow  = "!f() { git show stash@{$1} ; }; f"
[push]
	default = simple
[core]
	excludesfile = /home/cam/.gitignore
